<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>客户编辑</title>
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
</head>
<body>
<div class="x-body">
    <div class="layui-form-item">
        <input id="id" type="hidden">
        <label for="name" class="layui-form-label">
            <span class="x-red">*</span>客户名称
        </label>
        <div class="layui-input-inline">
            <input type="text" id="name" name="name" required="" lay-verify="name"
                   autocomplete="off" class="layui-input" >
        </div>
    </div>
    <div class="layui-form-item">
        <label for="phone" class="layui-form-label">
            <span class="x-red">*</span>客户联系方式
        </label>
        <div class="layui-input-inline">
            <input type="text" id="phone" name="phone" required="" lay-verify="phone"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label for="address" class="layui-form-label">
            <span class="x-red">*</span>客户地址
        </label>
        <div class="layui-input-inline">
            <input type="text" id="address" name="address" required="" lay-verify="address"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form layui-col-md12 x-so">
            <button class="layui-btn" type="button" id="modify">修改</button>
        </div>
    </div>
</div>
    <script type="text/javascript" th:src="@{/static/js/jquery-1.12.3.min.js}"></script>
    <script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <script>
        layui.use(['form','layer'], function() {
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer;
            $("#modify").click(function () {
                $.ajax({
                    url: "updateSC",
                    type: "post",
                    dataType: "json",
                    data: {
                        id: $("#id").val(),
                        name: $("#name").val(),
                        phone: $("#phone").val(),
                        address: $("#address").val()
                    },
                    success: function (res) {
                        if(res.status == 1){
                            //刷新父级数据表格
                            parent.layui.table.reload("table");
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                            parent.layer.msg("修改成功",{icon:1,time:1000})
                        }
                    }
                })
            });
        });

    </script>
</body>
</html>