<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>历史信息查看管理</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
    <script type="text/javascript" th:src="@{/static/js/jquery-1.12.3.min.js}"></script>
    <script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
    <!--[if lt IE 9]>
    <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
    <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="layui-anim layui-anim-up">
<div class="x-nav">
      <span class="layui-breadcrumb">
        <a href="">首页</a>
        <a>
          <cite>历史信息管理</cite></a>
      </span>
    <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right" href="javascript:location.replace(location.href);" title="刷新">
        <i class="layui-icon" style="line-height:30px">ဂ</i></a>
</div>
<div class="x-body">
    <div class="layui-row">
        <div class="layui-form layui-col-md12 x-so">
            <div class="layui-input-inline">
            </div>
            <input type="text" name="operatorName" id="operatorName"  placeholder="请输入操作名称" autocomplete="off" class="layui-input">
            <input type="text" name="name"  placeholder="请输入钢材名称" autocomplete="off" class="layui-input">
            <input type="text" name="type"  placeholder="请输入钢材种类" autocomplete="off" class="layui-input">
            <input type="text" name="money"  placeholder="请输入钢材价格" autocomplete="off" class="layui-input">
            <input type="text" class="layui-input" id="test-laydate-start" name="startTime" autocomplete="off" placeholder="开始日期" lay-key="1">
            <input type="text" class="layui-input" id="test-laydate-end" name="endTime" autocomplete="off" placeholder="结束日期" lay-key="2">
            <button class="layui-btn" type="button" id="search"><i class="layui-icon">&#xe615;</i></button>
        </div>
    </div>
    <table id="table" class="layui-table" lay-filter="table"></table>
</div>


<script type="text/html" id="userStatusTpl">
    <span class="layui-btn layui-btn-normal layui-btn-mini">已启用</span>
</script>

<script type="text/html" id="table-toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="edit">删除</button>
    </div>
</script>
<script>
    function showTime(tempDate){
        var d = new Date(tempDate);
        var year = d.getFullYear();
        var month = d.getMonth();
        month++;
        var day = d.getDate();
        var hours = d.getHours();

        var minutes = d.getMinutes();
        var seconds = d.getSeconds();
        month = month<10 ? "0"+month:month;
        day = day<10 ? "0"+day:day;
        hours = hours<10 ? "0"+hours:hours;
        minutes = minutes<10 ? "0"+minutes:minutes;
        seconds = seconds<10 ? "0"+seconds:seconds;


        var time = year+"-"+month+"-"+day+" "+hours+":"+minutes+":"+seconds;
        return time;
    }
    layui.use(['table','form','laydate'], function(){
        var table = layui.table,
            laydate = layui.laydate
            form = layui.form;
        var tables = table.render({
            elem: '#table'
            ,url: 'selectLog'
            ,method: 'post'
            ,page: true
            ,text : '钢材信息不存在！'
            ,request: {
                pageNum: 1 //页码的参数名称，默认：page
                ,pageSize: 10//数据量的参数名，默认：limit
            }
            ,cols: [
                [
                    {field: 'pid', title: '序号', width:70,type:'numbers'}
                    ,{field: 'operatorName', title: '操作名称'}
                    ,{field: 'name', title: '钢材名称'}
                    ,{field: 'type', title: '钢材类别'}
                    ,{field: 'num', title: '操作根数'}
                    ,{field: 'ton', title: '操作吨数'}
                    ,{field: 'money', title: '进货/出货单价'}
                    ,{field: 'suName', title: '供货商/客户名称'}
                    ,{field: 'operatorTime', title: '操作时间',
                        templet:function (data) {
                            return showTime(data.operatorTime);
                        }
                    }
                ]
            ]
            ,toolbar : false
            ,defaultToolbar: ['exports']
        });

        $("#search").on("click", function () {
            var operatorName = $("#operatorName").val();
            var name = $("input[name='name']").val();
            var type = $("input[name='type']").val();
            var money = $("input[name='money']").val();
            var operatorTime = $("input[name='startTime']").val();
            var previousTime = $("input[name='endTime']").val();
            console.log(type);
            console.log(money);
            tables.reload({
                url: "selectLog?page=1&limit=10&operatorName="+operatorName+"&name="+name+"&type="+type+"&operatorTime="+operatorTime+"&previousTime="+previousTime+"&money="+money
                ,method: 'post'
                ,page: true
                ,text : '钢材信息不存在！'
                ,data: {
                    page: 1,
                    limit: 10,
                }
                ,cols: [
                    [
                        {field: 'pid', title: '序号', width:70,type:'numbers'}
                        ,{field: 'operatorName', title: '操作名称'}
                        ,{field: 'name', title: '钢材名称'}
                        ,{field: 'type', title: '钢材类别'}
                        ,{field: 'num', title: '操作根数'}
                        ,{field: 'ton', title: '操作吨数'}
                        ,{field: 'money', title: '进货价格'}
                        ,{field: 'suName', title: '供货商/客户名称'}
                        ,{field: 'operatorTime', title: '操作时间',
                        templet:function (data) {
                            return showTime(data.operatorTime);
                        }
                    }
                    ]
                ]
            });
        })

        //开始日期
        var insStart = laydate.render({
            elem: '#test-laydate-start'
            ,type: "datetime"
            ,max: 0
            ,done: function(value, date){
                //更新结束日期的最小日期
                insEnd.config.min = lay.extend({}, date, {
                    month: date.month - 1
                });

                //自动弹出结束日期的选择器
                insEnd.config.elem[0].focus();
            }
        });

        //结束日期
        var insEnd = laydate.render({
            elem: '#test-laydate-end'
            ,type: "datetime"
            ,max: 0
            ,done: function(value, date){
                //更新开始日期的最大日期
                insStart.config.max = lay.extend({}, date, {
                    month: date.month - 1
                });
            }
        });

    });

</script>
</body>

</html>