<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>钢材编辑</title>
    <link rel="stylesheet" th:href="@{/static/css/font.css}">
    <link rel="stylesheet" th:href="@{/static/css/xadmin.css}">
</head>
<body>
<div class="x-body">
    <div class="layui-form-item">
        <input id="sid" type="hidden">
        <label for="steelName" class="layui-form-label">
            <span class="x-red">*</span>钢材名称
        </label>
        <div class="layui-input-inline">
            <input type="text" id="steelName" name="steelName" required="" lay-verify="steelName"
                   autocomplete="off" class="layui-input" >
        </div>
    </div>
    <div class="layui-form-item">
        <label for="steelType" class="layui-form-label">
            <span class="x-red">*</span>钢材类别
        </label>
        <div class="layui-input-inline">
            <input type="text" id="steelType" name="steelType" required="" lay-verify="steelType"
                   autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label for="steelNum" class="layui-form-label">
            <span class="x-red">*</span>总根数
        </label>
        <div class="layui-input-inline">
            <input type="text" id="steelNum" name="steelNum" required="" lay-verify="steelNum"
                   autocomplete="off" class="layui-input">
        </div>

    </div>

    <div class="layui-form-item">
        <label for="steelTon" class="layui-form-label">
            <span class="x-red">*</span>总吨数
        </label>
        <div class="layui-input-inline">
            <input type="text" id="steelTon" name="steelTon" required="" lay-verify="steelTon" autocomplete="off"
                   class="layui-input" >
        </div>

    </div>
    <div class="layui-form-item">
        <label for="steelDescription" class="layui-form-label">
            <span class="x-red">*</span>货物描述
        </label>
        <div class="layui-input-inline">
            <input type="text" id="steelDescription" name="steelDescription" required="" lay-verify="steelDescription" autocomplete="off"
                   class="layui-input" >
        </div>

    </div>
    <div class="layui-form-item">
        <label for="steelInMoney" class="layui-form-label">
            <span class="x-red">*</span>进货价格
        </label>
        <div class="layui-input-inline">
            <input type="text" id="steelInMoney" name="steelInMoney" required="" lay-verify="steelInMoney"
                   autocomplete="off" class="layui-input" >
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-form layui-col-md12 x-so">
            <button class="layui-btn" type="button" id="modify">修改</button>
        </div>
    </div>
</div>
    <script type="text/javascript" th:src="@{/static/js/jquery-1.12.3.min.js}"></script>
    <script th:src="@{/static/lib/layui/layui.js}" charset="utf-8"></script>
    <script type="text/javascript" th:src="@{/static/js/xadmin.js}"></script>
    <script>
        layui.use(['form','layer'], function() {
            $ = layui.jquery;
            var form = layui.form
                , layer = layui.layer;
            $("#modify").click(function () {
                $.ajax({
                    url: "updateSteel",
                    type: "post",
                    dataType: "json",
                    data: {
                        sid: $("#sid").val(),
                        steelName: $("#steelName").val(),
                        steelType: $("#steelType").val(),
                        steelNum: $("#steelNum").val(),
                        steelTon: $("#steelTon").val(),
                        steelInMoney: $("#steelInMoney").val(),
                        steelDescription: $("#steelDescription").val()
                    },
                    success: function (res) {
                        if(res.status == 1){
                            //刷新父级数据表格
                            parent.layui.table.reload("table");
                            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                            parent.layer.close(index); //再执行关闭
                            parent.layer.msg("修改成功",{icon:1,time:1000})
                        }
                    }
                })
            });
        });

    </script>
</body>
</html>